body{
  max-height:768px;
  background-color: #141414
}
.navigation1{
  background-color: rgba(45,45,45,0.98);
  height: 5%;
  color:white;
}
.navigation1 >ul{
  margin:0 0 0 0;
  padding-left: 10%;
  padding-right: 10%;
}
.navigation1 >ul >li{
  display: inline-block;
  width: 140px;
  text-align: center;
}
#icon{
  height:143px;
  padding: 12px 0 12px 0;
}
.list_all_icon{
display: inline-block;
}
.list_icon{
  padding:0 15px 49px 15px;
  height: 124px;
  text-align: center;
  display: inline-block;
}
.item-img:hover{
  background-color: white;
  cursor: pointer;
}
.home-item-title{
  height: 38px;
  width: 180px;
  color: white;
}
.relative_item{
  position: relative;
  top:-20px;
}
.content_box{
  height:479px;
  background-color: white;
  border: 10px solid black;
}
.hidden{
  display: none;
}
.test{
width:100%;
height:100%;
/**width: 1346px;
height: 459px;**/
}
.item-title{
  width: 30%;
  position: absolute;
  top:300px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius:5%;
}
.home-item-title1 { color: black; font-size: 19px; margin: 30px 20px 15px 0; text-align: center; font-weight: 500; }
.home-item-content1 { color: black; font-size: 15px; font-weight: 400; line-height: 20px; text-align: justify; width: 100%; margin-bottom: 17%; }

.active{
  z-index: 9999;
}
/**utility **/
.width100{
  width:100%;
}
.height100{
  height:100%;
}
video{
  object-fit: fill;
}
