<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <% if(KindOfDay === "Friday"){ %>
  <h1 style="color:purple">It's a
    <%= KindOfDay %>! To do List</h1>
  <% } else { %>
  <h1 style="color:lightblue">It's a
    <%= KindOfDay %>! To do List</h1>
  <% } %>

  <form class="" action="/" method="post">
    <input type="text" name="newItem" value=""><button type="submit" name="submit">gogogo</button>
  </form>

  <form class="" action="/test" method="post">
    <input type="text" name="newItem" value=""><button type="submit" name="submit">gogogo</button>
  </form>
</body>

</html>
